{$DOMAIN_NAME} {

    encode zstd gzip

    handle_path /api/* {
        reverse_proxy backend:3001 {
            header_up X-Forwarded-For {remote_host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
        }
    }

    handle {
        reverse_proxy client:3002 {
            header_up X-Forwarded-For {remote_host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
        }
    }

}
